@property --wheelBlurColor {
    syntax: '<color>';
    initial-value: #9137BB;
    inherits: false;
}

@property --rouletteBlurColor {
    syntax: '<color>';
    initial-value: #3B9C96;
    inherits: false;
}

@property --slotsBlurColor {
    syntax: '<color>';
    initial-value: #B39044;
    inherits: false;
}



#wheelImage {
    right: -200px;
    bottom: -350px;
    rotate: -15deg;
    width: 550px;
}

#wheelCard:hover #wheelImage {
    right: -150px;
    bottom: -300px;
    rotate: -30deg;
}

#wheelCard .gameCardBlur {
    transition: --wheelBlurColor 0.5s ease;
}

#wheelCard:hover .gameCardBlur {
    --wheelBlurColor: #9137BB88;
}



#rouletteImage {
    bottom: -100px;
    right: -700px;
    rotate: -30deg;
    width: 1800px; 
}

#rouletteCard:hover #rouletteImage {
    bottom: 0;
    right: -750px;
    rotate: -40deg;
}

#rouletteCard .gameCardBlur {
    transition: --rouletteBlurColor 0.5s ease;
}

#rouletteCard:hover .gameCardBlur {
    --rouletteBlurColor: #3B9C9688;
}



#slotsImage {
    right: -25px;
    bottom: -75px;
    width: 70%;
    rotate: -10deg;
}

#slotsCard:hover #slotsImage {
    right: -25px;
    bottom: -25px;
    width: 75%;
    rotate: -20deg;
}

#slotsCard .gameCardBlur {
    transition: --slotsBlurColor 0.5s ease;
}

#slotsCard:hover .gameCardBlur {
    --slotsBlurColor: #B3904488;
}



.gameCard {
    min-width: 300px;
    height: 300px;
    padding: 0;
    flex-grow: 1;
    border: solid 2px #aaaaaa;
    border-radius: 24px;
    position: relative;
    contain: paint;
    transition: all 0.5s ease;
    cursor: pointer;
}

.gameCard:hover {
    border: solid 2px white;
}

.gameCardTitle {
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    top: 0;
    transition: all 0.5s ease;
}

.gameCard:hover .gameCardTitle {
    font-size: 2.5em;
}

.gameCardImage {
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease;
}

.gameCardBlur {
    height: 100%;
    border-radius: 24px;
}