#alertContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    backdrop-filter: blur(6px);
    animation: alertContainerAnim 0.25s forwards;
}

@keyframes alertContainerAnim {
    0% {
        backdrop-filter: blur(1px);
    }
    20% {
        backdrop-filter: blur(2px);
    }
    40% {
        backdrop-filter: blur(4px);
    }
    60% {
        backdrop-filter: blur(6px);
    }
    80% {
        backdrop-filter: blur(8px);
    }
    100% {
        backdrop-filter: blur(10px);
    }
}

#alertWindow {
    padding: 1rem;
    width: max(400px, 25%);
    position: relative;
    border-radius: 24px;
    background: #000000bb;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation: alertWindowAnim 0.5s forwards;
}

@media (max-width: 600px) {
    #alertWindow {
        width: calc(100% - 3rem);
    }
}

@keyframes alertWindowAnim {
    0% {
        opacity: 0;
        translate: 0px -20px;
    }
    100% {
        opacity: 1;
        translate: 0px 0px;
    }
}

#alertTitle {
    font-size: 1.5em;
    text-align: center;
}

#alertSubtitle {
    color: #BDBDBD;
    text-align: center;
}

#alertClose {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: all 0.25s ease;
}

#alertClose:hover {
    scale: 0.9;
}