#header {
    padding: 8px 8px 0px 8px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #141414;
    position: relative;
    z-index: 1;
}