#historyFlexContainer {
    overflow-x: scroll;
    scrollbar-width: none;
    border-radius: 0.75rem;
    cursor: grab;
    flex-wrap: nowrap;
}

.dragging {
    cursor: grabbing !important;
}

.historyElement {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    flex-shrink: 0;
}



.Red { background: #FF4B4B; }
.Black { background: #4A4A4A; }
.Yellow { background: #DEC84A; }
.Green { background: #56D86A; }
.Purple { background: #B356D8; }