#lastGamesSection {
    margin: 1.5rem;
    width: calc(100% - 3rem);
    position: relative;
}

#lastGamesContainer {
    margin-top: 1rem;
    min-height: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.lastGameCard {
    padding: 1rem;
    min-width: fit-content;
    max-width: 30rem;
    flex-grow: 1;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: #FFFFFF20 0px 0px 20px;
    position: relative;
}

@media (max-width: 600px) {
    .lastGameCard {
        max-width: 100%;
    }
}

.lastGameCardColorInfo {
    width: 4rem;
    height: 1.5rem;
    border: solid 2px #FFFFFF;
    border-radius: 0.5rem;
}

.lastGameCardFigureInfo {
    width: 2.5rem;
    height: 2.5rem;
    border: solid 2px #ffffff;
    border-radius: 0.5rem;
}