#lastGamesSection {
    margin: 1.5rem;
    width: calc(100% - 3rem);
    position: relative;
}

#lastGamesContainer {
    margin-top: 1rem;
    min-height: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: repeat(auto-fit, 7rem);
    gap: 1rem;
}

.lastGameCard {
    padding: 1rem;
    min-width: 10rem;
    max-width: 30rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: #FFFFFF20 0px 0px 20px;
    position: relative;
}

.lastGameCardColorInfo {
    width: 4rem;
    height: 1.5rem;
    border: solid 2px #FFFFFF;
    border-radius: 8px;
}