/* Fonts */

@font-face {
    font-family: montserratBold;
    src: url(/shared-assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserratSemiBold;
    src: url(/shared-assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: montserratMedium;
    src: url(/shared-assets/fonts/Montserrat-Medium.ttf);
}

/* Media */

@media (max-width: 600px) {
    html {
        font-size: 75%;
    }

    #header {
        height: max(70px, 13dvw) !important;
    }
}

/* Standart tags */

#root {
    position: relative;
}

body {
    margin: 0;
}

h1 {
    /* Bold 32px */
    margin: 0;
    width: fit-content;
    font-family: montserratBold;
    font-size: 2rem;
    color: white;
    font-weight: normal;
}

h2 {
    /* SemiBold 32px */
    margin: 0;
    width: fit-content;
    font-family: montserratSemiBold;
    font-size: 2rem;
    color: white;
    font-weight: normal;
}

h3 {
    /* Medium 32px */
    margin: 0;
    width: fit-content;
    font-family: montserratMedium;
    font-size: 2rem;
    color: white;
    font-weight: normal;
}

h4 {
    /* Bold 16px */
    margin: 0;
    width: fit-content;
    font-family: montserratBold;
    font-size: 1rem;
    color: white;
    font-weight: normal;
}

h5 {
    /* SemiBold 16px */
    margin: 0;
    width: fit-content;
    font-family: montserratSemiBold;
    font-size: 1rem;
    color: white;
    font-weight: normal;
}

h6 {
    /* Medium 16px */
    margin: 0;
    width: fit-content;
    font-family: montserratMedium;
    font-size: 1rem;
    color: white;
    font-weight: normal;
}

input {
    padding-left: 1rem;
    background: #00000044;
    color: #FFFFFF77;
    font-family: montserratMedium;
    font-size: 1rem;
    border: solid 2px #FFFFFF22;
    border-radius: 0.75rem;
    transition: all 0.5s ease;
}

input:hover:not(:disabled) {
    border: solid 2px #FFFFFF77;
    cursor: pointer;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Custom styles */

.gradientText {
    background: linear-gradient(#408cff 30%, #e148ff 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttonWithUnderline {
    position: relative;
    padding: 0;
    background: none;
    border: none;
    font-family: montserratMedium;
    font-size: 0.75rem;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
}

.buttonWithUnderline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -2px;
    background: #3eb2ff00;
    transition: all 0.25s ease;
}

.iconButton {
    height: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-sizing: content-box;
    transition: all 0.25s ease;
}

.iconButton:hover {
    opacity: 0.9;
}

.iconButton > img {
    transition: all 0.25s ease;
}

.iconButton:hover > img {
    translate: 8px 0px;
}

.iconButton.little {
    padding: 0.25rem 0.5rem;
}

.iconButton.medium {
    padding: 0.25rem 1rem;
}

.iconButton.large {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 1rem;
}

.iconButton.large img {
    width: 1.5rem;
}

/* Games */

.mainGameWindow {
    margin: 2rem 0px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
    position: relative;
    box-shadow: 0px 10px 20px #00000044;
}

@media (max-width: 1000px) {
    .mainGameWindow {
        flex-wrap: wrap;
    }
}

.sideContainer {
    margin: 1rem;
    min-width: 00px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    gap: 20px;
}

@media (max-width: 1000px) {
    .sideContainer {
        max-width: 100%;
    }
}

.sideSection {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    background: linear-gradient(to right, #1C1C1C, #282828);
    border-radius: 1.5rem;
}

.sideSection > h2 {
    font-size: 1.5rem;
}

.sideSectionFlexContainer {
    display: flex;
    gap: 0.5rem;
}

.sideSection input {
    width: calc(100% - 1rem - 4px);
    height: min(calc(3.5rem - 4px), 46px);
}

.sideSection input.active {
    border: solid 2px white;
}

/* Profile / Register */

.bgCircle {
    position: absolute;
    background: radial-gradient(#408CFF, #823891 70%);
    border-radius: 1000px;
    filter: blur(20px);
    z-index: -2;
}

.bgCircle.little {
    width: clamp(100px, 10dvw, 200px);
    height: clamp(100px, 10dvw, 200px);
    animation: bgCircleAnim 7s infinite;
}

.bgCircle.medium {
    width: clamp(150px, 15dvw, 250px);
    height: clamp(150px, 15dvw, 250px);
    animation: bgCircleAnim 9s infinite;   
}

.bgCircle.large {
    width: clamp(200px, 20dvw, 300px);
    height: clamp(200px, 20dvw, 300px);
    animation: bgCircleAnim 11s infinite;
}

@keyframes bgCircleAnim {
    50% {
        translate: 0px 30px;
    }
}

.formField {
    width: min(100%, 320px);
    position: relative;
    display: flex;
    flex-direction: column;
}

.formFieldHint {
    font-size: 0.75rem;
    height: 1.5rem;
}

.formFieldInput {
    width: calc(100% - 14px);
    height: 2.5rem;
}
