/* Fonts */

@font-face {
    font-family: montserratBold;
    src: url(/shared-assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserratSemiBold;
    src: url(/shared-assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: montserratMedium;
    src: url(/shared-assets/fonts/Montserrat-Medium.ttf);
}

/* Media */

@media (max-width: 600px) {
    #header {
        height: max(60px, 13dvw) !important;
    }

    #header h1 {
        font-size: min(2em, 5.3dvw);
    }
}

/* Standart tags */

#root {
    position: relative;
}

body {
    margin: 0;
}

h1 {
    /* Bold 32px */
    margin: 0;
    width: fit-content;
    font-family: montserratBold;
    font-size: 2em;
    color: white;
    font-weight: normal;
}

h2 {
    /* SemiBold 32px */
    margin: 0;
    width: fit-content;
    font-family: montserratSemiBold;
    font-size: 2em;
    color: white;
    font-weight: normal;
}

h3 {
    /* Medium 32px */
    margin: 0;
    width: fit-content;
    font-family: montserratMedium;
    font-size: 2em;
    color: white;
    font-weight: normal;
}

h4 {
    /* Bold 16px */
    margin: 0;
    width: fit-content;
    font-family: montserratBold;
    font-size: 1em;
    color: white;
    font-weight: normal;
}

h5 {
    /* SemiBold 16px */
    margin: 0;
    width: fit-content;
    font-family: montserratSemiBold;
    font-size: 1em;
    color: white;
    font-weight: normal;
}

h6 {
    /* Medium 16px */
    margin: 0;
    width: fit-content;
    font-family: montserratMedium;
    font-size: 1em;
    color: white;
    font-weight: normal;
}

input {
    padding: 0px 0px 0px 10px;
    background: #00000044;
    color: #FFFFFF77;
    font-family: montserratMedium;
    font-size: 1em;
    border: solid 2px #FFFFFF22;
    border-radius: 12px;
    transition: all 0.5s ease;
}

input:hover:not(:disabled) {
    border: solid 2px #FFFFFF77;
    cursor: pointer;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Custom styles */

.gradientText {
    background: linear-gradient(#408cff 30%, #e148ff 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttonWithUnderline {
    position: relative;
    padding: 0;
    background: none;
    border: none;
    font-family: montserratMedium;
    font-size: 0.75em;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
}

.buttonWithUnderline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -2px;
    background: #3eb2ff00;
    transition: all 0.25s ease;
}

/* Games */

.mainGameWindow {
    margin: 28px 0px;
    width: 100%;
    min-height: 580px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
    gap: 10px;
    position: relative;
    box-shadow: 0px 10px 20px #00000044;
}

@media (max-width: 1000px) {
    .mainGameWindow {
        flex-wrap: wrap;
    }
}

.sideContainer {
    margin: 20px;
    min-width: 400px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    gap: 20px;
}

@media (max-width: 1000px) {
    .sideContainer {
        max-width: 100%;
    }
}

.sideSection {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    background: linear-gradient(to right, #1C1C1C, #282828);
    border-radius: 24px;
}

.sideSection > h2 {
    font-size: 1.5em;
}

.sideSectionFlexContainer {
    display: flex;
    gap: 8px;
}

.sideSection input {
    width: calc(100% - 14px);
    height: 46px;
}

.sideSection input.active {
    border: solid 2px white;
}