#registerMainDiv {
    width: 100%;
    height: 100dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#1A1A1A, #2C2C2C);
    z-index: 0;
    contain: paint;
}